.accommodation-detail {
  background-color: var(--color-white);

  .section-wrapper {
    padding: 80px;
  }

  .swiper {
    border-radius: 12px;

    .image {
      width: 100%;
      aspect-ratio: 628 / 471;
      max-height: 471px;
    }

    .swiper-arrow {
      z-index: 3;
      color: var(--color-white);
      border-color: var(--color-white);

      &:hover {
        border-color: var(--color-primary-3);
      }

      &.arrow-prev {
        left: 56px;
      }

      &.arrow-next {
        right: 56px;
      }
    }
  }

  .col-left {
    .title {
      max-width: 520px;
    }

    .desc {
      margin-top: 24px;
      max-width: 520px;
    }

    .contact {
      margin-top: 40px;
      max-width: 520px;

      li {
        display: flex;
        align-items: center;
        gap: 12px;

        .icon {
          width: 16px;
          height: 16px;
          flex-shrink: 1;
        }

        &:not(:first-child) {
          margin-top: 8px;
        }

        a {
          transition: all 0.4s ease;

          &:hover {
            color: var(--color-primary-3);
          }
        }
      }
    }

    .facilities {
      margin-top: 64px;
      max-width: 520px;

      h4 {
        font-family: var(--font-heading);
        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        margin-bottom: 24px;
      }

      &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;

        li {
          display: flex;
          align-items: flex-start;
          gap: 12px;

          .icon {
            width: 16px;
            height: 16px;
            flex-shrink: 1;
            transform: translateY(4px);
          }
        }
      }

      &-more {
        margin-top: 8px;
        height: 0;
        overflow: hidden;
      }

      &-view-more {
        font-size: 13px;
        line-height: 15px;
        font-weight: 600;
        font-family: var(--font-heading);
        margin-top: 22px;

        width: max-content;
        display: flex;
        gap: 12px;
        cursor: pointer;
        color: var(--color-black);
        transition: all 0.4s ease;

        &.active {
          .icon {
            svg {
              opacity: 0;
            }

            svg:nth-child(2) {
              opacity: 1;
            }
          }
        }

        &:hover {
          color: var(--color-primary-3);

          .icon {
            // transform: rotate(180deg);
          }
        }

        .icon {
          width: 12px;
          height: 12px;
          flex-shrink: 1;
          position: relative;
          transition: transform 0.4s ease;

          svg {
            position: absolute;
            inset: 0;
            opacity: 1;
            transition: all 0.3s ease;

            &:nth-child(2) {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
