.section-contact {
  background-color: var(--color-secondary-1);

  .section-wrapper {
    padding: 80px;
  }

  .col-left {
    padding-right: 130px;
    padding-top: 60px;

    .title {
      margin-bottom: 24px;
    }

    .contact-box {
      margin-top: 40px;

      &__title {
        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        font-family: var(--font-heading);
        margin-bottom: 20px;
      }

      ul {
        li {
          display: flex;
          align-items: center;
          gap: 12px;
        }
      }

      a {
        transition: all 0.4s ease;

        &:hover {
          color: var(--color-primary-3);
        }
      }
    }

    .contact-social {
      margin-top: 48px;

      ul {
        display: flex;
        align-items: center;
        gap: 24px;

        a {
          transition: all 0.4s ease;

          &:hover {
            color: var(--color-primary-3);
          }
        }
      }
    }
  }

  .col-right {
    .button-global {
      margin-right: auto;
      margin-left: 0;
    }

    .wrapper-form-booking {
      padding-top: 0;
      margin-top: 0;
      border: none;
      padding: 64px 64px 48px 64px;
      border-radius: 20px;
      overflow: hidden;
      background-color: var(--color-white);

      form {
        gap: 40px 24px;
      }

      .select-people {
        .select-box {
          background-color: var(--color-gray-1);
        }
      }

      .dropdown-custom-menu {
        background-color: var(--color-gray-1);
      }
    }
  }
}

.lightpick-contact {
  background-color: var(--color-gray-1);

  .lightpick__month {
    background-color: var(--color-gray-1);
  }
}
