#cta {
  position: fixed;
  right: 12px;
  bottom: 35px;
  z-index: 100;
  transition: all 0.3s ease;
  &.run-right {
    right: -60px;
  }
  .cta {
    &-wrapper {
      position: relative;
      &:hover {
        .cta-global + .cta-list {
          opacity: 1;
          visibility: visible;
          transition-delay: 0s;
          .cta-item {
            transform: translateY(0) scale(1);
            opacity: 1;
          }
        }
      }
    }
    &-list {
      position: absolute;
      top: 0;
      transform: translateY(-100%);
      margin-top: -12px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
      transition-delay: 0.3s;
    }
    &-item {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-primary-2);
      transform: translateY(30px) scale(0);
      transform-origin: center;
      opacity: 0;
      transition:
        transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        opacity 0.4s ease;

      &:nth-child(1) {
        transition-delay: 0.2s;
      }
      &:nth-child(2) {
        transition-delay: 0.15s;
      }
      &:nth-child(3) {
        transition-delay: 0.1s;
      }
      &:nth-child(4) {
        transition-delay: 0.05s;
      }
      &:nth-child(5) {
        transition-delay: 0s;
      }

      &:hover {
        background-color: var(--color-primary-1);
      }
    }

    &-global {
      width: 54px;
      height: 54px;
      background-color: var(--color-black);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: all 0.3s ease;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        width: 54px;
        height: 54px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
      }
      &:hover {
        background-color: var(--color-primary-3);
        &::before {
          opacity: 1;
          visibility: visible;
        }
        img {
          &:first-child {
            transform: scale(0);
          }
          &:last-child {
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }
      img {
        transition: all 0.3s ease;
        &:last-child {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          transition: all 0.3s ease;
        }
      }
    }
  }
}
