.section-experience {
  background-image: url("../../images/paper-texture.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .section-wrapper {
    padding: 80px;
  }

  .col-image {
    .image {
      width: 100%;
      aspect-ratio: 628 / 471;
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .col-content {
    padding-left: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
}
