.section-experience {
  background-color: var(--color-secondary-1);

  .section-wrapper {
    padding: 40px 80px;
  }

  .col-image {
    max-width: calc(calc(6 / 9) * 100%);
    width: 100%;
    margin-left: auto;
    .image {
      width: 100%;
      aspect-ratio: 625 / 600;
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .col-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    z-index: 2;
    max-width: calc(calc(6 / 9) * 100%);
    background-color: #fff;
    transform: translateX(calc(-1 * calc(2 / 12) * 100% - 40px));
    border-radius: 20px;
    padding: 40px;
    top: 32px;
    // @media screen and (min-width: 1520px) {
    //   max-width: 625px;
    // }
    .tag {
      text-align: center;
    }
    .title {
      text-align: center;
      .line {
        line-height: 1.3;
      }
    }
    .desc {
      text-align: center;
    }
    .btn-wrapper {
      margin: 64px auto 0;
    }
  }
  .col-image-one {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 382 / 485;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .col-wrap {
    display: flex;
    position: relative;
    margin-top: 90px;
  }
}

.image-parallax {
  overflow: hidden;

  img {
    width: 100%;
    height: 120% !important;
    object-fit: cover;
  }
}
