.footer {
  color: var(--color-white);
  overflow: hidden;
  &-main {
    background: url("../../images/bg-footer-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 80px 20px;

    .column-title {
      font-size: 13px;
      line-height: 20px;
      font-weight: bold;
      font-family: var(--font-heading);
      margin-bottom: 20px;
    }
  }

  &-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 55px;
  }

  &-brands {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px 130px;
    }

    a {
      transition: all 0.4s ease;

      &:hover {
        color: var(--color-primary-3);
      }
    }
  }

  &-menu {
    .menu {
      & > ul {
        display: flex;
        align-items: flex-start;
        column-gap: 110px;

        .menu-item-has-children {
          & > a {
            font-size: 13px;
            line-height: 20px;
            font-weight: bold;
            font-family: var(--font-heading);
            display: block;
            margin-bottom: 20px;
            transition: unset;
            pointer-events: none;
          }

          li {
            &:not(:first-child) {
              margin-top: 8px;
            }
          }
        }
      }

      a {
        transition: all 0.4s ease;

        &:hover {
          color: var(--color-primary-3);
        }
      }
    }
  }

  &-logo {
    display: block;

    img {
      width: 100px;
      height: auto;
      object-fit: contain;
    }
  }

  &-bct {
    a {
      display: block;

      img {
        width: 125px;
        height: auto;
        object-fit: contain;
      }
    }
  }

  &-address {
    li {
      &:not(:first-child) {
        margin-top: 8px;
      }

      display: flex;
      align-items: center;
      gap: 12px;

      a {
        transition: all 0.4s ease;

        &:hover {
          color: var(--color-primary-3);
        }
      }

      .icon {
        width: 16px;
        height: 16px;
        min-width: 16px;
      }
    }
  }

  .form {
    display: flex;
    align-items: center;
    width: 100%;

    .field-item {
      width: 100%;
      position: relative;

      input {
        height: 40px;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 4px;
        color: var(--color-white);

        &:focus-visible + label,
        &:not(:placeholder-shown) + label {
          transform: translateY(-100%);
          font-size: 10px;
          line-height: 14px;
        }
      }

      label {
        position: absolute;
        left: 0;
        pointer-events: none;
        transition: all 0.4s ease;
      }
    }

    button {
      margin-left: 32px;
      font-size: 13px;
      line-height: 15px;
      font-family: var(--font-heading);
      color: var(--color-white);
      text-transform: uppercase;

      gap: 20px;
      display: flex;
      align-items: center;
      width: max-content;
      min-width: max-content;
      transition: all 0.4s ease;

      .icon {
        transition: all 0.4s ease;
      }

      &:hover {
        color: var(--color-primary-3);

        .icon {
          transform: translateX(5px);
          color: var(--color-primary-3);
        }
      }
    }
  }

  &-social {
    margin-top: 55px;
    ul {
      display: flex;
      align-items: center;
      gap: 24px;

      a {
        transition: all 0.4s ease;

        &:hover {
          color: var(--color-primary-3);
        }
      }
    }
  }

  .btn-scroll-top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--color-black);
    transition: all 0.4s ease;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-primary-3);
    }
  }

  &-bottom {
    margin-top: 48px;

    .bct-desc {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;

      strong {
        font-weight: bold;
      }
    }
  }

  &-term {
    padding: 14px 80px;
    background-color: #000;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    min-height: 44px;

    .copyright {
      opacity: 0.5;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    a {
      transition: all 0.4s ease;
      opacity: 0.5;
      display: block;

      &:hover {
        opacity: 1;
      }
    }
  }
}
