.swiper-arrows {
  .swiper-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(64, 64, 64, 0.3);

    position: absolute;
    top: 50%;
    transform: translateY(50%);
    transition: all 0.4s ease;

    &:hover {
      background-color: var(--color-primary-3);
      border-color: var(--color-primary-3);
      color: var(--color-white);
    }

    &.swiper-button-disabled {
      opacity: 0.3;
    }

    &.arrow-prev {
      transform: scale(-1) translate(100%, 50%);
      left: -18px;
    }

    &.arrow-next {
      right: -18px;
      transform: translate(100%, -50%);
    }
  }
}
