.swiper-arrows {
  .swiper-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(64, 64, 64, 0.3);

    position: absolute;
    top: 50%;
    transform: translateY(50%);
    transition: all 0.4s ease;

    &:hover {
      background-color: var(--color-primary-3);
      border-color: var(--color-primary-3);
      color: var(--color-white);
    }

    &.swiper-button-disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    &.arrow-prev {
      transform: scale(-1) translate(100%, 50%);
      left: -18px;
    }

    &.arrow-next {
      right: -18px;
      transform: translate(100%, -50%);
    }
  }
}
.button-global {
  display: inline-block;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-white);
  font-family: var(--font-heading);
  font-weight: bold;
  padding: 11.5px 24px;
  background-color: var(--color-primary-3);
  position: relative;
  overflow: hidden;

  &:hover {
    &::before {
      transform: translate3d(0, -5%, 0) scale3d(1, 1, 1);
    }
    span {
      color: var(--color-white);
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-color: var(--color-black);
    width: 130%;
    height: 0;
    padding-bottom: 130%;
    top: -65%;
    left: -15%;
    border-radius: 50%;
    transform: translate3d(0, 75%, 0) scale3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.1, 0, 0.3, 1);
    z-index: 2;
  }

  span {
    position: relative;
    z-index: 2;
    white-space: nowrap;
  }
}
.booking-form {
  &-wrapper {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    width: calc(100% - 160px);
    background-color: var(--color-white);
    height: 60px;
    margin: 0 auto;
    border-radius: 12px;
    transition: all 0.3s ease;
    z-index: 999;
    &.booking-fixed {
      position: fixed;
      bottom: auto;
      top: 60px;
      width: calc(100%);
      border-radius: 0;
      .booking-form-container {
        width: calc(100% - 160px);
        border-radius: 0px;
      }
    }
  }
  &-container {
    background-color: red;
    max-width: calc(100%);
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 12px;
    transition: all 0.3s ease;
  }
}
