.swiper-arrows {
  .swiper-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(64, 64, 64, 0.3);

    position: absolute;
    top: 50%;
    transform: translateY(50%);
    transition: all 0.4s ease;

    &:hover {
      background-color: var(--color-primary-3);
      border-color: var(--color-primary-3);
      color: var(--color-white);
    }

    &.swiper-button-disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    &.arrow-prev {
      transform: scale(-1) translate(100%, 50%);
      left: -18px;
    }

    &.arrow-next {
      right: -18px;
      transform: translate(100%, -50%);
    }
  }
}
.button-global {
  display: inline-block;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-white);
  font-family: var(--font-heading);
  font-weight: bold;
  padding: 11.5px 24px;
  background-color: var(--color-primary-3);
  position: relative;
  overflow: hidden;

  &:hover {
    &::before {
      transform: translate3d(0, -5%, 0) scale3d(1, 1, 1);
    }
    span {
      color: var(--color-white);
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-color: var(--color-black);
    width: 130%;
    height: 0;
    padding-bottom: 130%;
    top: -65%;
    left: -15%;
    border-radius: 50%;
    transform: translate3d(0, 75%, 0) scale3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.1, 0, 0.3, 1);
    z-index: 2;
  }

  span {
    position: relative;
    z-index: 2;
    white-space: nowrap;
  }
}
.booking-form {
  &-wrapper {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    width: calc(100% - 160px);
    background-color: var(--color-white);
    height: 60px;
    margin: 0 auto;
    border-radius: 12px;
    transition: all 0.3s ease;
    z-index: 123;
    &.booking-fixed {
      position: fixed;
      bottom: auto;
      top: 60px;
      width: calc(100%);
      border-radius: 0;
      .booking-form-container {
        width: calc(100% - 160px);
        border-radius: 0px;
      }
    }
    &.booking-up {
      .dropdown-custom-menu {
        top: 100%;
        transform: translateY(0);
        margin-top: 15px;
        border-radius: 0 0 12px 12px;
      }
    }
  }
  &-container {
    max-width: calc(100%);
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 12px;
    transition: all 0.3s ease;
    padding: 20px 12px 20px 24px;
    form {
      display: grid;
      grid-template-columns: 3fr 3fr 2fr 2fr 2fr;
      gap: 24px;
      .dropdown-custom {
        &-select {
          position: relative;
          cursor: pointer;
        }
        &-menu {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background-color: var(--color-white);
          margin-top: -15px;
          padding: 24px;
          display: flex;
          flex-direction: column;
          gap: 8px;
          border-radius: 12px 12px 0 0;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease;
          transform: translateY(-100%);
          &.dropdown--active {
            opacity: 1;
            visibility: visible;
          }
        }

        &-text {
          font-size: 15px;
          line-height: 25px;
          font-family: var(--font-body);
          color: var(--color-gray-2);
          font-weight: 500;
        }
        &-item {
          font-size: 15px;
          line-height: 25px;
          font-family: var(--font-body);
          color: var(--color-gray-2);
          font-weight: 500;
        }
      }
      .booking-time {
        cursor: pointer;
        input {
          outline: none;
          border: none;
          font-size: 15px;
          line-height: 25px;
          font-weight: 500;
          font-family: var(--font-body);
          color: var(--color-gray-2);
          width: 80px;
        }
        span {
          padding: 0 2px;
          transform: translateY(-2px);
        }
      }
    }
  }
}
// css lightpick
section.lightpick {
  border-radius: 0;
  padding: 16px;
  box-shadow: none;
  & > * {
    font-family: var(--font-body);
  }
  .lightpick__day.is-end-date.is-in-range.is-flipped,
  .lightpick__day.is-start-date.is-in-range,
  .lightpick__day.is-end-date.is-in-range,
  .lightpick__day.is-start-date.is-in-range.is-flipped {
    background-color: var(--color-primary-3);
  }
  .lightpick__day.is-end-date,
  .lightpick__day.is-end-date:hover,
  .lightpick__day.is-start-date,
  .lightpick__day.is-start-date:hover {
    background-image: none;
    background-color: var(--color-primary-3);
  }
  .lightpick__day.is-today {
    // color: var(--color-gray-2);
    background-image: none;
    font-weight: 600;
  }
  .lightpick__day-of-the-week {
    font-family: var(--font-body);
    font-weight: 600;
  }
  .lightpick__month-title {
    margin-left: 0;
    padding-left: 0;
    transform: translateX(-2px);
  }
  .lightpick__previous-action,
  .lightpick__next-action {
    font-size: 0;
  }
  .lightpick__next-action {
    background-image: url("../../images/icons/icon-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .lightpick__previous-action {
    background-image: url("../../images/icons/icon-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
  }
}
.title {
  .line {
    line-height: 1.6;
  }
}
