#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  .header {
    &-lang {
      .dropdown-custom {
        position: relative;
        &-btn {
          display: flex;
          align-items: center;
          gap: 8px;
          .value-select {
            display: flex;
            gap: 8px;

            span {
              display: inline-block;
              min-width: 30px;
              font-size: 13px;
              line-height: 20px;
              font-weight: 600;
              color: var(--color-white);
            }
          }
        }
        &-menu {
          position: absolute;
          top: 100%;
          left: 0;
          margin-top: 20px;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease;
        }
        &-item {
          display: flex;

          gap: 8px;
          align-items: center;
          span {
            display: inline-block;
            min-width: 30px;
            font-size: 13px;
            line-height: 20px;
            font-weight: 600;
            color: var(--color-white);
          }
        }
      }
    }
    &-menu {
      ul {
        display: flex;
        align-items: center;
        gap: 32px;
        li {
          &.menu-item-has-children {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 20px;
              opacity: 0;
              visibility: hidden;
              transition: all 0.3s ease;
            }
            &:hover {
              &::after {
                opacity: 1;
                visibility: visible;
              }
              & > .sub-menu {
                opacity: 1 !important ;
                visibility: visible !important;
              }
            }
            & > a {
              display: flex;
              align-items: center;
              gap: 8px;
              &.menu-full-ks {
                position: relative;
              }
              &.menu-full-ks + .sub-menu {
                position: fixed;
                top: 60px;
                left: 80px;
                background-color: var(--color-white);
                max-width: calc(100% - 160px);
                width: 100%;
                padding: 24px;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease;
                & > ul {
                  display: grid;
                  align-items: flex-start;
                  grid-template-columns: repeat(5, 1fr);
                  gap: 40px;
                  & > li.menu-item-has-children {
                    a {
                      font-size: 15px;
                      line-height: 20px;
                      color: var(--color-gray-2);
                      font-family: var(--font-heading);
                      text-transform: uppercase;
                      font-weight: 600;
                      display: flex;
                      flex-direction: row-reverse;
                      gap: 12px;
                      align-items: center;
                      justify-content: flex-end;
                      margin-bottom: 8px;
                      span {
                        transform: translateY(1px);
                      }
                    }
                    & > .sub-menu-name-hotel {
                      flex-direction: column;
                      justify-content: flex-start;
                      align-items: flex-start;
                      gap: 4px;
                      li {
                        a {
                          color: var(--color-gray-2);
                          font-family: var(--font-body);
                          font-size: 15px;
                          line-height: 25px;
                          font-weight: 500;
                          text-transform: unset;
                          margin-bottom: 0;
                        }
                      }
                    }
                  }
                }
                .btn-view-hotel {
                  display: inline-block;
                  font-size: 13px;
                  line-height: 15px;
                  font-weight: 600;
                  color: var(--color-gray-2);
                  font-family: var(--font-heading);
                  margin-top: 64px;
                }
              }
            }
            // & > .sub-menu {
            //   &.level-1 {
            //     position: absolute;
            //     top: 100%;
            //     left: 0px;
            //     margin-top: 21px;
            //     min-width: 1170px;
            //     background-color: var(--color-white);
            //     & > .menu-item-has-children {
            //       & > a {
            //         font-size: 15px;
            //         line-height: 20px;
            //         color: var(--color-gray);
            //         font-family: var(--font-heading);
            //         text-transform: uppercase;
            //         // .icon {
            //         //   display: block;
            //         //   width: 18px;
            //         //   svg {
            //         //     width: 12px;
            //         //   }
            //         // }
            //       }
            //     }
            //   }
            // }
          }
          a {
            display: inline-block;
            font-family: var(--font-heading);
            font-size: 15px;
            line-height: 20px;
            text-transform: uppercase;
            color: var(--color-white);
          }
        }
      }
    }
    &-container {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      gap: 40px;
      padding: 5.5px 0;
      max-width: calc(100% - 160px);
      margin: 0 auto;
      border-bottom: 1px solid var(--color-white);
    }
    &-main {
      display: flex;
      align-items: center;
      gap: 40px;
    }
    &-cta {
      display: flex;
      justify-content: flex-end;
    }
    &-logo-group {
      .logo {
        position: relative;
        img {
          &:last-child {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
