#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  transition: background-color 0.3s ease;
  .header {
    &-lang {
      .dropdown-custom {
        position: relative;
        cursor: pointer;
        &-btn {
          display: flex;
          align-items: center;
          gap: 8px;
          .value-select {
            display: flex;
            gap: 8px;

            span {
              display: inline-block;
              min-width: 30px;
              font-size: 13px;
              line-height: 20px;
              font-weight: 600;
              color: var(--color-white);
            }
            .icon {
              svg {
                path {
                  transition: stroke 0.3s ease;
                }
              }
            }
          }
        }
        &-menu {
          position: absolute;
          top: 100%;
          left: -16px;
          margin-top: 20px;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease;
          background-color: var(--color-white);
          padding: 16px;
          display: flex;
          flex-direction: column;
          gap: 8px;
          &.dropdown--active {
            opacity: 1;
            visibility: visible;
          }
        }
        &-item {
          display: flex;
          cursor: pointer;
          gap: 8px;
          align-items: center;
          &:hover {
            span {
              color: var(--color-primary-3);
            }
          }
          span {
            display: inline-block;
            min-width: 30px;
            font-size: 13px;
            line-height: 20px;
            font-weight: 600;
            color: var(--color-black);
            transition: color 0.3s ease;
          }
        }
      }
    }
    &-menu {
      ul {
        display: flex;
        align-items: center;
        gap: 32px;
        li {
          &.menu-item-has-children {
            position: relative;

            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 20px;
              opacity: 0;
              visibility: hidden;
              transition: all 0.3s ease;
            }
            &:hover {
              &::after {
                opacity: 1;
                visibility: visible;
              }
              & > .sub-menu {
                opacity: 1 !important ;
                visibility: visible !important;
              }
              & > a {
                color: var(--color-primary-3);
                .icon {
                  svg {
                    path {
                      stroke: var(--color-primary-3) !important ;
                    }
                  }
                }
              }
            }
            & > a {
              display: flex;
              align-items: center;
              gap: 8px;
              .icon {
                svg {
                  path {
                    transition: stroke 0.3s ease;
                  }
                }
              }
              &.menu-full-ks {
                position: relative;
              }
              &.menu-full-ks + .sub-menu {
                position: fixed;
                top: 60px;
                left: 80px;
                background-color: var(--color-white);
                max-width: calc(100% - 160px);
                width: 100%;
                padding: 24px;
                margin-top: 0;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease;
                z-index: 999;
                & > ul {
                  display: grid;
                  align-items: flex-start;
                  grid-template-columns: repeat(5, 1fr);
                  gap: 40px;
                  & > li.menu-item-has-children {
                    a {
                      font-size: 15px;
                      line-height: 20px;
                      color: var(--color-gray-2);
                      font-family: var(--font-heading);
                      text-transform: uppercase;
                      font-weight: 600;
                      display: flex;
                      flex-direction: row-reverse;
                      gap: 12px;
                      align-items: center;
                      justify-content: flex-end;
                      margin-bottom: 8px;
                      &.location-hotel {
                        pointer-events: none;
                        &:hover {
                          color: var(--color-black) !important ;
                        }
                      }
                      span {
                        transform: translateY(1px);
                      }
                    }
                    & > .sub-menu-name-hotel {
                      flex-direction: column;
                      justify-content: flex-start;
                      align-items: flex-start;
                      gap: 4px;
                      li {
                        a {
                          color: var(--color-gray-2);
                          font-family: var(--font-body);
                          font-size: 15px;
                          line-height: 25px;
                          font-weight: 500;
                          text-transform: unset;
                          margin-bottom: 0;
                        }
                      }
                    }
                  }
                }
                .btn-view-hotel {
                  display: inline-block;
                  font-size: 13px;
                  line-height: 15px;
                  font-weight: 600;
                  color: var(--color-gray-2);
                  font-family: var(--font-heading);
                  margin-top: 64px;
                }
              }
              &.active {
                .icon {
                  svg {
                    path {
                      stroke: var(--color-primary-3) !important ;
                    }
                  }
                }
              }
            }
            & > .sub-menu {
              position: absolute;
              background-color: var(--color-white);
              top: 100%;
              width: max-content;
              left: -24px;
              margin-top: 20px;
              opacity: 0;
              visibility: hidden;
              transition: all 0.3s ease;
              &.menu-max-width {
                ul {
                  display: flex;
                  flex-direction: column;
                  gap: 8px;
                  padding: 24px;
                  align-items: flex-start;

                  li {
                    a {
                      color: var(--color-gray-2);
                      font-size: 15px;
                      line-height: 20px;
                      font-family: var(--font-heading);
                      text-transform: uppercase;
                      white-space: nowrap;
                    }
                  }
                }
              }
            }
          }
          a {
            display: inline-block;
            font-family: var(--font-heading);
            font-size: 15px;
            line-height: 20px;
            font-weight: 600;
            text-transform: uppercase;
            color: var(--color-white);
            transition: color 0.3s ease;
            &.active {
              color: var(--color-primary-3) !important;
            }
            &:hover {
              color: var(--color-primary-3) !important;
            }
          }
        }
      }
    }
    &-container {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      gap: 24px;
      padding: 5.5px 0;
      max-width: calc(100% - 160px);
      margin: 0 auto;
      border-bottom: 1px solid var(--color-white);
      @media (max-width: 991px) {
        max-width: calc(100% - 48px);
        padding: 9.5px 0;
      }
    }
    &-main {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      gap: 40px;
      @media (max-width: 991px) {
        grid-template-columns: 1fr;
      }
    }
    &-cta {
      display: flex;
      justify-content: flex-end;
    }
    &-logo-group {
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        position: relative;
        img {
          &:last-child {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            z-index: 2;
          }
        }
      }
    }
    &-hambuger {
      &-container {
        width: 24px;
        height: 16px;
        background-color: red;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;
        span {
          position: absolute;
          display: block;
          width: 100%;
          height: 1px;
          background-color: var(--color-white);
          left: 0;
          transition: all 0.3s ease;
          opacity: 1;
          &:nth-child(1) {
            top: 0;
            // top: 7.5px;
            // transform: rotate(135deg);
          }
          &:nth-child(2) {
            top: 7.5px;
          }
          &:nth-child(3) {
            top: 15px;
            // top: 7.5px;
            // transform: rotate(-135deg);
          }
        }
      }
    }
  }
  // theme light
  &.header-theme-light {
    background-color: var(--color-white);
    .header {
      &-menu {
        ul {
          li {
            &.menu-item-has-children {
              & > a {
                &.active {
                  color: var(--color-primary-3) !important ;
                  .icon {
                    svg {
                      path {
                        stroke: var(--color-primary-3) !important ;
                      }
                    }
                  }
                }
                .icon {
                  svg {
                    path {
                      stroke: var(--color-gray-2);
                    }
                  }
                }
              }
            }
            a {
              color: var(--color-gray-2);
            }
          }
        }
      }
      &-logo-group {
        .logo {
          img {
            &:last-child {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
      &-lang {
        .icon {
          svg {
            path {
              stroke: var(--color-gray-2);
            }
          }
        }
        .value-select {
          span {
            color: var(--color-gray-2);
          }
        }
      }
    }
  }
}
