.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  &-image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .booking-form-wrapper {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    width: calc(100% - 160px);
    background-color: var(--color-white);
    height: 64px;
    margin: 0 auto;
  }
}
