.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 47.67%,
        rgba(0, 0, 0, 0.8) 97.09%
      ),
      linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 14.88%);

    z-index: 2;
    pointer-events: none;
  }
  &-image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-slider {
    &-img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .slider-content-wrapper {
    position: absolute;
    z-index: 3;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
    align-items: stretch;
    display: flex;
    gap: 24px;
    .current-tag {
      display: inline-block;
      font-family: var(--font-body);
      font-size: 13px;
      line-height: 20px;
      font-weight: 600;
      color: var(--color-gray-2);
      text-transform: uppercase;
      padding: 8px 16px;
      background-color: var(--color-white);
      border-radius: 20px;
      margin-bottom: 24px;
    }
    .current-title {
      font-family: var(--font-heading);
      font-size: 56px;
      line-height: 64px;
      color: var(--color-white);
      text-transform: uppercase;
    }
  }
  .slider-content-main {
    .slider-pagination {
      font-family: var(--font-heading);
      color: var(--color-white);
      margin-top: 24px;
      padding-left: 2px;
      display: flex;
      align-items: center;
      gap: 2px;
      line-height: 20px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      transform: translateY(20px);
      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      span {
        color: var(--color-white);
        font-family: var(--font-heading);
        font-size: 13px;
        line-height: 20px;
        font-weight: 600;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .slider-content-line-vertical {
    width: 1px;
    background-color: transparent;
    display: block;
    flex-shrink: 0;
    position: relative;
    &.active {
      &::before {
        height: 100%;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      background-color: var(--color-white);
      transition: height 1s ease;
    }
  }
  .slider-content-import {
    height: auto;
  }
}
