.hotel-filter {
  background-color: var(--color-secondary-1);

  .section-wrapper {
    padding: 80px 80px 60px 80px;
  }

  &__top {
    margin-bottom: 54px;

    .nav-tabs {
      gap: 8px;
      border: none;

      .nav-link {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        backdrop-filter: blur(65px);
        margin: 0;
        border: 1px solid rgba(64, 64, 64, 0.3);
        transition: all 0.4s ease;

        &.active {
          background-color: var(--color-black);
          color: var(--color-white);
          pointer-events: none;
        }

        &:hover {
          color: var(--color-black);
          border-color: var(--color-black);
        }
      }
    }
  }

  &__slider {
    .swiper {
      margin: 0 -12px;
    }
    .swiper-wrapper {
      align-items: stretch;
      overflow: visible;
    }

    .swiper-slide {
      height: auto;
      padding: 0 12px 40px;
    }
  }

  //   Hotel item
  &__item {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    height: 100%;

    box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;

    &:hover {
      .content-title,
      .btn-arrow {
        color: var(--color-primary-3);
      }

      img {
        transform: scale(1.05);
      }
    }

    .image {
      width: 100%;
      aspect-ratio: 410 / 313;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s cubic-bezier(0, 0, 0.58, 1);
      }
    }

    .content {
      padding: 24px;
      display: flex;
      flex-direction: column;
      flex: 1;

      .content-title {
        margin-bottom: 12px;
        transition: all 0.4s ease;
      }

      .content-desc {
        margin-bottom: 32px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      .btn-arrow {
        margin-top: auto;
        transition: all 0.4s ease;
      }
    }
  }
}
