.list-post-filter {
  background-color: var(--color-secondary-1);
  .section-wrapper {
    padding: 80px;
  }

  .section-title {
    margin-bottom: 45px;
  }

  .filter {
    &-list-button {
      gap: 8px;

      .filter-button {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        backdrop-filter: blur(65px);
        margin: 0;
        border: 1px solid rgba(64, 64, 64, 0.3);
        transition: all 0.4s ease;
        cursor: pointer;

        &.active {
          background-color: var(--color-black);
          color: var(--color-white);
          pointer-events: none;
        }

        &:hover {
          border-color: var(--color-black);
        }
      }
    }
  }

  .list-post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 24px;
  }

  &.offers-post {
    .list-post {
      gap: 80px 24px;
    }
  }
}
