#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: var(--color-secondary-1);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .loading-video {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--color-secondary-1);
      mask-mode: alpha;
      mask-image: url("../../images/icons/intro-bg.png");
      mask-repeat: no-repeat;
      mask-position: center;
      transform: scale(1);
      mask-size: 100% 100%;
    }
  }
}
