.destination-location {
  padding: 0px 80px 80px;
  .destination-title {
    margin-bottom: 24px;
  }
  .destination-wrapper {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 24px;
    .location-iframe {
      width: 100%;
      aspect-ratio: 16 / 9;
      .iframe {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 12px;
        iframe {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
