.destination-location {
  padding: 0px 80px 80px;
  .destination-title {
    margin-bottom: 24px;
  }
  .destination-wrapper {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 24px;
    .location-iframe {
      .iframe {
        width: 100%;
        overflow: hidden;
        aspect-ratio: 16 / 9;
        border-radius: 12px;
        iframe {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .location-review {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      .location-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px 24px;
      }
      .location-item {
        &:hover {
          .location-image {
            img {
              transform: scale(1.03);
            }
          }
          .location-info {
            .time {
              color: rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
      .location-image {
        width: 100%;
        aspect-ratio: 195 / 104;
        border-radius: 12px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.3s ease;
        }
      }
      .location-info {
        margin-top: 12px;
        .name {
          font-size: 15px;
          line-height: 25px;
          font-weight: 600;
          color: var(--color-black);
          margin-bottom: 4px;
        }
        .time {
          font-size: 15px;
          line-height: 25px;
          font-weight: 500;
          color: var(--color-black);
          transition: color 0.3s ease;
        }
      }
    }
  }
}

#locationModal {
  .modal-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    font-family: var(--font-body);
    color: var(--color-black);
  }
  .btn-close {
    background: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(24, 24, 25, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    margin: 0;
    padding: 0;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      opacity: 1;
    }
  }
  .modal-content {
    border-radius: 12px;
    background-image: url("../../images/paper-texture-big.jpg");
    background-size: 100% 100%;
  }
  .modal-header {
    border-radius: 0;
    border-bottom: 0;
    padding: 32px 24px 24px;
  }
  .modal-body {
    padding-top: 0;
    padding: 0 24px 32px;
    overflow-y: scroll;
    // max-height: 500px;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-primary-3);
      border-radius: 10px;

      &:hover {
        background: var(--color-primary-2);
      }
    }
  }
  .modal-dialog {
    max-width: 900px;
  }
  .location-popup-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 32px;
    .location-popup-item {
      .location-info {
        margin-top: 12px;
        .name {
          font-size: 15px;
          line-height: 25px;
          font-weight: 600;
          color: var(--color-black);
          margin-bottom: 4px;
        }
        .time {
          font-size: 15px;
          line-height: 25px;
          font-weight: 500;
          color: var(--color-black);
          transition: color 0.3s ease;
        }
      }
      &:hover {
        .location-image img {
          transform: scale(1.03);
        }
      }
      .location-image {
        overflow: hidden;
        border-radius: 12px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.3s ease;
        }
      }
      &:first-child {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        .location-image {
          width: 100%;
          aspect-ratio: 410 / 230;
          border-radius: 12px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      &:nth-child(2) {
        grid-column: auto / span 2;
        grid-row: 1 / span 2;
        .location-image {
          width: 100%;
          aspect-ratio: 410 / 230;
          border-radius: 12px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      &:first-child,
      &:nth-child(2) {
        .location-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
