.post-detail {
  background-color: var(--color-white);

  .section-wrapper {
    padding: 80px;
  }

  .col-left {
    padding-right: 130px;

    .sub-title {
      margin-top: 16px;
      font-weight: bold;
    }

    .desc {
      margin-top: 48px;

      p {
        &:not(:first-child) {
          margin-top: 24px;
        }
      }

      strong {
        margin-bottom: 8px;
        font-weight: bold;
      }
    }

    .contact {
      margin-top: 40px;
      max-width: 520px;

      li {
        display: flex;
        align-items: center;
        gap: 12px;

        .icon {
          width: 16px;
          height: 16px;
          flex-shrink: 0;
        }

        &:not(:first-child) {
          margin-top: 8px;
        }

        a {
          transition: all 0.4s ease;

          &:hover {
            color: var(--color-primary-3);
          }
        }
      }
    }
  }

  .swiper {
    border-radius: 12px;

    .image {
      width: 100%;
      aspect-ratio: 628 / 471;
      max-height: 471px;
    }
  }

  .btn-wrapper {
    margin: 40px auto 0;
    width: max-content;

    .button-global {
      padding: 8px 20px 7px;
      cursor: pointer;
    }
  }
}
