.news {
  &-wrapper {
    padding: 80px;
    background-color: var(--color-secondary-1);
    .section-top {
      margin-bottom: 48px;
    }
  }

  &-item {
    position: relative;

    &:hover {
      img {
        transform: scale(1.05);
      }

      .content-title {
        color: var(--color-primary-3);
      }
    }

    .image {
      width: 100%;
      aspect-ratio: 400 / 216;
      border-radius: 12px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s cubic-bezier(0, 0, 0.58, 1);
      }
    }

    .content {
      margin-top: 32px;

      &-title {
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
        transition: all 0.4s ease;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      &-desc {
        margin-top: 20px;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }

    .tag {
      padding: 8px 16px;
      background-color: var(--color-white);
      border-radius: 20px;

      position: absolute;
      top: 16px;
      left: 16px;
      z-index: 3;
    }
  }

  &-main {
    position: relative;
  }
}
