@use "./variable";
@use "./reset";
@use "./global";
@use "./footer";
@use "./header";
@use "./sectionNews";
@use "./hero";
@use "./experience";
@use "./hotelFilter";
@use "./featuredOffers";
@use "./accommodationPage";
@use "./accommodationDetail";
@use "./cta";
@use "./loading";
@use "./sliderGallery";
@use "./location";
