<div class="header-container">
  <div class="header-lang">
    <div class="dropdown-custom">
      <div class="dropdown-custom-btn">
        <div class="value-select">
          <img src="./assets/images/flag/flag-vi.svg" alt="" />
          <span>VIE</span>
        </div>
      </div>
      <div class="dropdown-custom-menu">
        <div class="dropdown-custom-item">
          <img src="./assets/images/flag/flag-en.svg" alt="" />
          <span>ENG</span>
        </div>
        <div class="dropdown-custom-item">
          <img src="./assets/images/flag/flag-ko.svg" alt="" />
          <span>KOR</span>
        </div>
      </div>
    </div>
  </div>
  <div class="header-main">
    <div class="header-menu-left"></div>
    <div class="header-logo-group"></div>
    <div class="header-menu-right"></div>
  </div>
  <div class="header-cta"></div>
</div>
