:root {
  --font-heading: "Trajan Pro 3", sans-serif;
  --font-body: "Montserrat", sans-serif;
  --color-black: #181819;
  --color-white: #ffffff;
  --color-primary-1: #ffe756;
  --color-primary-2: #d4a734;
  --color-primary-3: #a87439;
  --color-secondary-1: #f9f6ee;
  --color-secondary-2: #f0e8d7;
  --color-gray-1: #f1f0f2;
  --color-gray-2: #404040;
  --color-bg: #f4f4f4;
}

.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}

.heading-1 {
  font-family: var(--font-heading);
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
}

.heading-2 {
  font-family: var(--font-heading);
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}

.heading-3 {
  font-family: var(--font-heading);
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}

.body-0 {
  font-family: var(--font-body);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.body-1 {
  font-family: var(--font-body);
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}

.body-2 {
  font-family: var(--font-body);
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}

.btn-body-font {
  font-family: var(--font-body);
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
}

.btn-heading-font {
  font-family: var(--font-heading);
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
}

.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

.color-primary-1 {
  color: var(--color-primary-1);
}

.color-primary-2 {
  color: var(--color-primary-2);
}

.color-primary-3 {
  color: var(--color-primary-3);
}

.color-secondary-1 {
  color: var(--color-secondary-1);
}

.color-secondary-2 {
  color: var(--color-secondary-2);
}

.color-gray-1 {
  color: var(--color-gray-1);
}

.color-gray-2 {
  color: var(--color-gray-2);
}

.limit-width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px solid #000;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: var(--font-body);
  background-color: var(--color-bg);
}

.swiper-arrows .swiper-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(64, 64, 64, 0.3);
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  transition: all 0.4s ease;
}
.swiper-arrows .swiper-arrow:hover {
  background-color: var(--color-primary-3);
  border-color: var(--color-primary-3);
  color: var(--color-white);
}
.swiper-arrows .swiper-arrow.swiper-button-disabled {
  opacity: 0.3;
}
.swiper-arrows .swiper-arrow.arrow-prev {
  transform: scale(-1) translate(100%, 50%);
  left: -18px;
}
.swiper-arrows .swiper-arrow.arrow-next {
  right: -18px;
  transform: translate(100%, -50%);
}

.footer {
  color: var(--color-white);
}
.footer-main {
  background-color: var(--color-black);
  padding: 40px 80px 20px;
}
.footer-main .column-title {
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
  font-family: var(--font-heading);
  margin-bottom: 20px;
}
.footer-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 55px;
}
.footer-brands ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px 130px;
}
.footer-brands a {
  transition: all 0.4s ease;
}
.footer-brands a:hover {
  color: var(--color-primary-3);
}
.footer-menu .menu > ul {
  display: flex;
  align-items: flex-start;
  column-gap: 110px;
}
.footer-menu .menu > ul .menu-item-has-children > a {
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
  font-family: var(--font-heading);
  display: block;
  margin-bottom: 20px;
}
.footer-menu .menu > ul .menu-item-has-children li:not(:first-child) {
  margin-top: 8px;
}
.footer-menu .menu a {
  transition: all 0.4s ease;
}
.footer-menu .menu a:hover {
  color: var(--color-primary-3);
}
.footer-logo {
  display: block;
}
.footer-logo img {
  width: 100px;
  height: auto;
  object-fit: contain;
}
.footer-bct a {
  display: block;
}
.footer-bct a img {
  width: 125px;
  height: auto;
  object-fit: contain;
}
.footer-address li:not(:first-child) {
  margin-top: 8px;
}
.footer-address li {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-address li a {
  transition: all 0.4s ease;
}
.footer-address li a:hover {
  color: var(--color-primary-3);
}
.footer-address li .icon {
  width: 16px;
  height: 16px;
  min-width: 16px;
}
.footer .form {
  display: flex;
  align-items: center;
  width: 100%;
}
.footer .form .field-item {
  width: 100%;
  position: relative;
}
.footer .form .field-item input {
  height: 40px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 4px;
  color: var(--color-white);
}
.footer .form .field-item input:focus-visible + label, .footer .form .field-item input:not(:placeholder-shown) + label {
  transform: translateY(-100%);
  font-size: 10px;
  line-height: 14px;
}
.footer .form .field-item label {
  position: absolute;
  left: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.footer .form button {
  margin-left: 32px;
  font-size: 13px;
  line-height: 15px;
  font-family: var(--font-heading);
  color: var(--color-white);
  text-transform: uppercase;
  gap: 20px;
  display: flex;
  align-items: center;
  width: max-content;
  min-width: max-content;
  transition: all 0.4s ease;
}
.footer .form button .icon {
  transition: all 0.4s ease;
}
.footer .form button:hover {
  color: var(--color-primary-3);
}
.footer .form button:hover .icon {
  transform: translateX(5px);
  color: var(--color-primary-3);
}
.footer-social {
  margin-top: 55px;
}
.footer-social ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-social ul a {
  transition: all 0.4s ease;
}
.footer-social ul a:hover {
  color: var(--color-primary-3);
}
.footer .btn-scroll-top {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--color-black);
  transition: all 0.4s ease;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footer .btn-scroll-top:hover {
  color: var(--color-white);
  background-color: var(--color-primary-3);
}
.footer-bottom {
  margin-top: 48px;
}
.footer-bottom .bct-desc {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.footer-bottom .bct-desc strong {
  font-weight: bold;
}
.footer-term {
  padding: 14px 80px;
  background-color: #000;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.footer-term .copyright {
  opacity: 0.5;
}
.footer-term ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-term a {
  transition: all 0.4s ease;
  opacity: 0.5;
}
.footer-term a:hover {
  opacity: 1;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

.news-wrapper {
  padding: 80px;
}
.news-wrapper .section-top {
  margin-bottom: 48px;
}
.news-item {
  position: relative;
}
.news-item:hover img {
  transform: scale(1.05);
}
.news-item:hover .content-title {
  color: var(--color-primary-3);
}
.news-item .image {
  width: 100%;
  aspect-ratio: 400/216;
  border-radius: 12px;
  overflow: hidden;
}
.news-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s cubic-bezier(0, 0, 0.58, 1);
}
.news-item .content {
  margin-top: 32px;
}
.news-item .content-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  transition: all 0.4s ease;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news-item .content-desc {
  margin-top: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.news-item .tag {
  padding: 8px 16px;
  background-color: var(--color-white);
  border-radius: 20px;
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 3;
}
.news-main {
  position: relative;
}